:root {
  --color-primary: #ef5350;
  --color-background-light: #f8f9fa;
  --color-background-dark: #101622;
  --color-text-primary: #212529;
  --color-text-secondary: #6c757d;
  --color-card-light: #ffffff;
  --color-card-dark: #1a2233;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  text-align: center;
}
header {
  background-color: var(--color-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    > img {
      height: 40px;
    }
  }
  > nav {
    display: flex;
    gap: 1rem;
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 1rem;
      > li {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
main {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
footer {
  background-color: var(--color-background-dark);
  color: white;
  padding: 1rem;
  text-align: center;
}
form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}
input,
textarea,
select {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
}
button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    background-color: #d32f2f;
  }
}
#pokemonList {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  > li {
    background-color: var(--color-card-light);
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
    width: 160px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    > article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      > img {
        width: 100px;
        height: 100px;
      }
      > h3 {
        margin: 0.5rem 0;
      }
      > p {
        margin: 0;
        font-size: 0.9rem;
        color: var(--color-text-secondary);
      }
    }
  }
}
